.chart-div-container{
    display: flex;
}

.chart-picture{
    margin-left: 100px;
    margin-right: 150px;
}

.chart-text-container{
    margin-right: 120px;
}

.chart-feature{
    font-size: 20px;
    color:rgb(54, 67, 90);
    font-weight: 700;
    margin-bottom: 20px;
}

.chart-lorem-ispsum{
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(88, 106, 143);
}

.check-container{
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 50px;
    color: rgb(88, 106, 143);
}

.check-icon{
    color: rgb(54, 184, 67);
    font-size: 18px;
    margin-right: 8px;
}

.chart-section{
    padding-top: 70px;
}